{{!-- <h1>Image Resizer</h1>

<h2>Upload Photos</h2>
<form id="upload-form" action="/" method="POST" enctype="multipart/form-data">
  <h2>Select an image to upload:</h2>
  <div class="upload-container"><input id="file-picker" type="file" name="image"></div>
  <div><input type="submit" value="Upload Image"></div>
</form>

<p id="message">{{message}}</p> --}}

<h2>Uploaded Frames</h2>
{{#each this.thumbnails}}
  <img src="https://{{../accountName}}.blob.core.windows.net/{{../containerName}}/{{name}}" width="500">
  {{#each ../metadata}}
    <p>{{this}}</p>
  {{/each}}
{{/each}}

<hr>
<p>This app has no official privacy policy.</p>

{{!-- <script src="../routes/index.js">
  document.addEventListener('DOMContentLoaded', async() => {
    {{!-- const {
      BlobServiceClient,
      StorageSharedKeyCredential,
      newPipeline
    } = require('@azure/storage-blob');

    const containerName1 = 'thumbnails';

    const containerClient = blobServiceClient.getContainerClient(containerName1);
    const listBlobsResponse = await containerClient.listBlobFlatSegment(); --}}

    for await (const blob of listBlobsResponse.segment.blobItems) {
      console.log(`Blob: ${blob.name}`);
      console.log(`${blob.metadata}`);
    }

    {{!-- var gallery = document.getElementById("upload_frames");
    for  --}}
  });
</script> --}}

{{!-- <script>
  document.addEventListener('DOMContentLoaded', () => {

    const message = document.getElementById('message');
    const picker = document.getElementById('file-picker');

    document.getElementById('upload-form').addEventListener('submit', (e) => {

      message.innerText = '';

      if(!picker.files.length) {
        message.innerText = 'Please select an image to upload.';
        e.preventDefault();
        return false;
      }
    });

  });
</script> --}}
