{{!-- <h1>Image Resizer</h1>

<h2>Upload Photos</h2>
<form id="upload-form" action="/" method="POST" enctype="multipart/form-data">
  <h2>Select an image to upload:</h2>
  <div class="upload-container"><input id="file-picker" type="file" name="image"></div>
  <div><input type="submit" value="Upload Image"></div>
</form>

<p id="message">{{message}}</p> --}}

<h1>Uploaded Frames</h1>
{{#each this.frames}}
  <div id="frame_info">

    <div id="image_div">
      <img src="https://{{../accountName}}.blob.core.windows.net/{{../containerName}}/{{this.0.name}}" width="500">
    </div>

    <div id="info_div">
      {{#if this.[1]}}
      <p>Upload Timestamp: {{this.[1]}}</p>
      {{/if}}
      {{#if this.[2]}}
      <p>Animal ID: {{this.[2]}}</p>
      {{/if}}
      {{#if this.[3]}}
      <p>Tag ID: {{this.[3]}}</p>
      {{/if}}
      {{#if this.[4]}}
      <p>Sort Reason: {{this.[4]}}</p>
      {{/if}}
    </div>

  </div>
{{/each}}

<hr>
<p>This app has no official privacy policy.</p>

