{{!-- <h1>Image Resizer</h1>

<h2>Upload Photos</h2>
<form id="upload-form" action="/" method="POST" enctype="multipart/form-data">
  <h2>Select an image to upload:</h2>
  <div class="upload-container"><input id="file-picker" type="file" name="image"></div>
  <div><input type="submit" value="Upload Image"></div>
</form>

<p id="message">{{message}}</p> --}}

<h2>Uploaded Frames</h2>
{{#each this.frames}}
  <img src="https://{{../accountName}}.blob.core.windows.net/{{../containerName}}/{{this.0.name}}" width="500">
  {{!-- <p>{{this.1}}</p> --}}
{{/each}}

<hr>
<p>This app has no official privacy policy.</p>

